
.partners-section {
    background-color: $grey-background;
}
.partners-logo {
    margin-top: 2rem;
    img {
        height:100px;
        width:auto;
        max-width:100%;
        opacity: 0.9;
    }
    img.grayscale-logo {
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
        }
    }
}

@include respond-to('tablet') {
    .partners-logo {
        img {
            margin: auto;
        }
    }
    .partners-section {
        text-align: center
    }
}