#indexModal.modal
    .modal-background
    .modal-card
        header.modal-card-head
            .modal-card-title
                span.modal-title-icon.icon.is-medium
                    span.fas.fa-notes-medical.fa-lg
                span.modal-title-text
                    | INDEKS RESIKO
            button.delete.close-modal(aria-label='close')
        section.modal-card-body
            .content
                //- h1 Hello World
                img(src="images/rhcv.png" width="200px" style="margin: auto;margin-bottom: 2rem;")
                p
                    | Mengacu pada 
                    strong Perka BNPB No.2 Tahun 2012 
                    | tentang Pedoman Umum Pengkajian Risiko Bencana
                h2 Hazard (Ancaman)
                p
                    | Suatu situasi, kejadian, atau peristiwa yang mempunyai 
                    | potensi dapat menimbulkan penyebaran COVID-19.
                ul
                    li Jumlah Kasus (OTG, ODP, PDP, positif)
                    li Hub Transportasi
                    li Titik Keramaian
                h2 Capacity (Kapasitas)
                p
                    | Kemampuan daerah dan masyarakat untuk melakukan tindakan pengurangan  
                    | tingkat ancaman dan tingkat kerugian akibat COVID-19
                ul
                    li Tingkat Kepatuhan
                    li Sebaran Fasker
                    li Sebaran tempat isolasi
                    li Sebaran gugus tugas
                h2 Vulnerability (Kerentanan)
                p
                    | Suatu kondisi yang ditentukan oleh faktor-faktor atau proses fisik, sosial, 
                    | ekonomi, dan lingkungan yang menyebabka menurunnya kemampuan dalam menghadapi bahaya COVID-19.
                ul
                    li Kerentanan Usia
                    li Komorbiditas warga
                    li Kawasan kumuh
                    li Kepadatan Penduduk
                    li Jenis Pekerjaan
        footer.modal-card-foot
            button.button.close-modal Tutup info indeks resiko