section.section
  .container
    .columns.is-vcentered.is-variable.is-8
        .column
            h1.title Our Vision
            h2.subtitle Telkom telah mengembangkan Visi CSR Perusahaan yakni ‘menjadi leader dalam implementasi program CSR di Asia’
                strong menjadi leader dalam implementasi program CSR di Asia
                | , like the one you&apos;re currently reading.
        .column
            figure.image.is-square
                img(src="https://bulma.io/images/placeholders/256x256.png")

section.section
  .container
    .columns.is-vcentered.is-variable.is-8
        .column
            figure.image.is-square
                img(src="https://bulma.io/images/placeholders/256x256.png")
            //- .video-container
            //-     iframe(src="https://www.youtube.com/embed/MBNd8LuGFLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .column
            h1.title Our Mission
            h2.subtitle A simple container to divide your page into 
                ul
                    li Cause promotion;
                    li Cause related marketing;
                    li Corporate social marketing;
                    li Corporate philanthropy;
                    li Community volunteering;
                    li Socially responsible business practice

section.has-text-centered(class="pl-0")
  .columns.is-vcentered
    .column
        .video-container
            iframe(src="https://www.youtube.com/embed/MBNd8LuGFLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        
        .hero
            .hero-body
                h1.title Video feature title
                h2.subtitle Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum cupiditate dolorum vitae dolores nesciunt totam magni quas. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  
