section.section.partners-section
    .container
        .columns.is-variable.is-8
            .column.is-one-third
                h3 A partnership by:
                .columns.is-variable.is-5.partners-logo
                    .column
                        figure.image 
                            img(src="./images/logo_vertical.svg" alt="Logo Telkom Indonesia" style="height:100px;width:auto;max-width:100%")

                //- .video-container
                //-     iframe(src="https://www.youtube.com/embed/MBNd8LuGFLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .column
                h3 Partners:
                .columns.is-vcentered.is-variable.is-5.is-centered.partners-logo
                    .column.is-narrow
                        figure.image 
                            img.grayscale-logo(src="./images/bksda-jabar.png" alt="Logo bksda jabar" style="height:100px;width:auto;max-width:100%")
                    .column.is-narrow
                        figure.image 
                            img.grayscale-logo(src="./images/yayasan-wanadri.png" alt="Logo yayasan wanadri" style="height:100px;width:auto;max-width:100%")
                    .column.is-narrow
                        figure.image 
                            img.grayscale-logo(src="./images/kareumbi.png" alt="Logo Kareumbi" style="height:100px;width:auto;max-width:100%")