doctype html
html(lang="id")
	head
		include ./includes/head.pug
	body
		include ./includes/header.pug

		main
			include ./includes/main-container.pug

		include ./includes/footer.pug

		include ./includes/modals/layer-modals.pug
		include ./includes/modals/basemap-modals.pug
		include ./includes/modals/analysis-modals.pug

		include ./includes/script.pug