footer(class="main-footer")
    #status-bar
        .container.is-fluid
          .columns
            .column.is-3
                div
                    //- span
                    //-     img.bdg-icon(src="images/bdg.svg" alt="Logo Pemkot Bandung" style=" height: 2rem; display: inline;vertical-align: middle;")
                    span Telkom Green Digital
            #status-text.column.is-9
                #scale.stat-text Skala = 1 : 136K
                #position-text.stat-text
                    i.im.im-location(style="font-size:10px") &nbsp;
                    | Long/Lat:
                    span#longlatText