footer
    .footer-container
        .container
            .footer-terms
                a.terms(href='https://www.globalforestwatch.org/terms' target='_blank' rel='noopener noreferrer') Terms of Service
                |  &middot; 
                a.terms(href='https://www.globalforestwatch.org/privacy-policy' target='_blank' rel='noopener noreferrer') Privacy Policy
                |  &middot; 
                a.terms(href='http://stats.pingdom.com/ghabapk9rihc' target='_blank' rel='noopener noreferrer') © 2022 Telkom Conservation
                a.terms.social-icon(href='http://stats.pingdom.com/ghabapk9rihc' target='_blank' rel='noopener noreferrer')
                    span.icon 
                        i.fab.fa-lg.fa-fw.fa-twitter
                a.terms.social-icon(href='http://stats.pingdom.com/ghabapk9rihc' target='_blank' rel='noopener noreferrer')
                    span.icon 
                        i.fab.fa-lg.fa-fw.fa-facebook-f
                a.terms.social-icon(href='http://stats.pingdom.com/ghabapk9rihc' target='_blank' rel='noopener noreferrer')
                    span.icon 
                        i.fab.fa-lg.fa-fw.fa-instagram
                a.terms.social-icon(href='http://stats.pingdom.com/ghabapk9rihc' target='_blank' rel='noopener noreferrer')
                    span.icon 
                        i.fab.fa-lg.fa-fw.fa-youtube
