doctype html
html(lang="id")
	head
		include ./template/includes/head.pug
	body.homepage
		include ./template/includes/components/hero-banner.pug
		include ./template/includes/components/feature-section.pug
		include ./template/includes/components/partners-section.pug        
		include ./template/includes/general-footer.pug

		include ./template/includes/script.pug