doctype html
html.map-page(lang="id")
	head
		include ./template/includes/head.pug
	body
		include ./template/includes/header.pug

		main
			include ./template/includes/main-container.pug

		include ./template/includes/footer.pug

		include ./template/includes/modals/layer-modals.pug
		include ./template/includes/modals/basemap-modals.pug
		include ./template/includes/modals/analysis-modals.pug
		include ./template/includes/modals/index-modals.pug

		include ./template/includes/script.pug